form {
    display: block;
    background: linear-gradient(90deg, lightskyblue, steelblue, blue);
    color: #ffffff;
    border: 2px solid #2f2fa5;
    border-radius: 10px;
    padding: 40px;
    margin: 50px;
    width: 30%;
}

input[type="date"], input[type="time"] {
    background: linear-gradient(#969696, #666666);
    color: white;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}



input[type="color"] {
    border-radius: 10px;
    cursor: pointer;
}

fieldset {
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    border: 2px dashed white;
    background: linear-gradient(#969696, #666666);
}

legend {
    font-size: 16px;
    font-weight: bold;
}

input[type="email"], input[type="tel"] {
    display: block;
    padding: 0 0 0 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: darkgray;
    color: white;
}

input[type="email"]:active, input[type="tel"]:active {
    border: 2px solid blue;
}

input[type="email"]:valid, input[type="tel"]:valid {
    border: 2px solid gold;
}

#dropdown {
    display: block;
    background: linear-gradient(#969696, #666666);
    color: #ffffff;
}

textarea {
    display: block;
    background: linear-gradient(#969696, #666666);
    border-radius: 15px;
    color: #ffffff;
    border: 2px dashed white;
}

input[type="submit"] {
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(#969696, #666666);
    color: white;
}

p {
    font-size: 16px;
    font-weight: bold;
}

h1 {
    font-style: italic;
    color: white;
    background-color: rgb(160, 150, 150);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 40px;
}

body {
    background-color: rgb(95, 93, 93);
}

a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 0 50px;
    padding: 5px;
    background-color: rgb(160, 150, 150);
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff
}

.label {
    cursor: pointer;
}

::placeholder { /*Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #d80000;
    margin-bottom: 40px;
    padding: 0;
}

form input[type="submit"] {
    text-align: right;
}